@{
    ViewData["Title"] = "Hakkımda";
}

<!-- Page Header-->
<header class="masthead" style="background-image: url('/assets/img/about-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>Hakkımda</h1>
                    <span class="subheading">Hem harbi hem Barbie 🐱‍💻</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p class="pb-3">Merhaba, Ben Miray Karagöz. 22 yaşındayım ve İstanbul'un renkli sokaklarında hayat buluyorum. Bilgiye ve yazılıma olan tutkumla doluyum. Bilgisayar Programcılığı alanında kendimi geliştirmek için İstanbul Üniversitesi'nde eğitim alıyorum. Ayrıca, yazılım dünyasının yeni teknolojilerini öğrenmek ve kariyerimi ilerletmek amacıyla Acunmedya Akademi'de Backend yazılım eğitimi alıyorum.</p>
                <p class="pb-3">Bilgisayar dünyasının derinliklerine inmek ve kodun gücünü keşfetmek için adım atan biriyim. Kod yazarken yaşadığım heyecanı tarif etmek imkansız. Bir proje üzerinde çalışırken, her satırın altında yatan potansiyeli görmek ve bunu gerçeğe dönüştürmek benim için bir tutku haline geldi. Yazılımın hayatı nasıl kolaylaştırabileceğini ve iş dünyasını nasıl dönüştürebileceğini keşfetmek, sadece bir hedef değil, aynı zamanda yaşam amacım haline geldi. Bu yolda ilerlerken, her gün yeni şeyler öğrenmek ve kendimi geliştirmek için sabırsızlanıyorum.</p>
            </div>
        </div>
    </div>
</main>